.Output {
  width: 50%;
  height: 100%; /* Ocupa el 100% del contenedor padre */
  background-color: transparent;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.pre {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto; /* Agrega scroll vertical si el contenido excede la altura */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  margin: 0;
  padding: 10px;
  line-height: 1.5;
  font-size: 14px; /* Tamaño de fuente adecuado */
  white-space: pre-wrap; /* Para que el texto respete los saltos de línea */
  font-family: Consolas, "Courier New", monospace; /* Fuente de Monaco */
  color: #d4d4d4;
  background-color: #1e1e1e4f; /* Misma opacidad que el editor */
}

.output-container {
  display: flex;
  align-items: baseline; /* Alinea números y texto en la misma base */
  width: 100%;
  height: 100%;
}

.line-numbers {
  padding-right: 10px;
  text-align: right;
  color: #858585;
  user-select: none;
  font-size: 14px;
  line-height: 1.5;
}

.line-numbers,
.output-text {
  line-height: 1.5; /* Mismo interlineado */
}

.line-numbers div {
  min-width: 25px; /* Espacio consistente para números */
}
