.Output {
    width: 50%;
    height: 83.4vh;
    background-color: #1e1e1e; /* Mismo color de fondo de Monaco */
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    overflow: hidden;
}

.pre {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 534px; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Agrega scroll vertical si el contenido excede la altura */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    margin: 0;
    padding: 10px;
    line-height: 1.5;
    font-size: 14px; /* Tamaño de fuente adecuado */
    white-space: pre-wrap; /* Para que el texto respete los saltos de línea */
    font-family: Consolas, 'Courier New', monospace; /* Fuente de Monaco */
    color: #d4d4d4;
}

.output-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.line-numbers {
    padding-right: 10px;
    text-align: right;
    color: #858585;
    user-select: none;
    font-size: 14px;
    line-height: 1.5;
}
