.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #0f245e, #000000, #0f245e);
  background-size: 200% 100%;
  animation: gradientShift 10s infinite linear;
}

@keyframes gradientShift {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
